.App {
  height: 100vh;
  background-size: cover;
}

.NoteStack {
  padding: 1.5rem;
  position: absolute;
  right: 0;
  height: 100%;
  width: 550px;

  display: grid;
  grid-auto-rows: min-content;
  gap: 1rem;
}